/* Global Styles */

/* 
  Whenever you want to call a variable for example:
  color: var(--primary-color);
*/
:root {
  --primary-color: #17a2b8;
  --dark-color: #343a40;
  --light-color: #f4f4f4;
  --danger-color: #dc3545;
  --success-color: #28a745;
}

body {
  background-color: #fafafa;
}

.container {
  max-width: 80%;
  margin: auto;
  margin-top: 6rem;
}

/* NAVBAR */

.navbarWrapper {
  width: 100%;
  display: flex;
  place-content: space-between;
}

@media only screen and (max-width: 576px) {
  .container {
    max-width: 100%;
  }
}

/* BOOTSTRAP CHANGES */
.btn {
  padding: 0
}